parameters:
	ignoreErrors:
		-
			message: '#^Instanceof between Closure and Closure will always evaluate to true\.$#'
			identifier: instanceof.alwaysTrue
			count: 1
			path: src/TypeScriptTransformerConfigFactory.php
